annotated-types==0.7.0
anyio==4.9.0
awscli==1.32.64
botocore==1.34.64
certifi==2022.12.7
charset-normalizer==3.0.1
cli-helpers==2.3.0
click==8.1.3
colorama==0.4.4
configobj==5.0.8
delegator.py==0.1.1
docutils==0.16
fastapi==0.116.1
Flask==2.2.3
frida==16.0.10
frida-tools==12.1.1
h11==0.16.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
litecli==1.9.0
MarkupSafe==2.1.2
nltk==3.8.1
objection==1.11.0
pexpect==4.8.0
pillow==10.2.0
prompt-toolkit==3.0.37
ptyprocess==0.7.0
pyasn1==0.5.1
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.14.0
python-dateutil==2.9.0.post0
pywatchman==1.4.1
PyYAML==6.0.1
regex==2022.10.31
requests==2.28.2
rsa==4.7.2
s3transfer==0.10.1
semver==2.13.0
six==1.16.0
sniffio==1.3.1
sqlparse==0.4.3
starlette==0.47.1
tabulate==0.9.0
tqdm==4.64.1
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==1.26.14
uvicorn==0.35.0
wcwidth==0.2.6
Werkzeug==2.2.3
